[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
Django = '~=5.2'
django-environ = '~=0.8'
psycopg2 = '~=2.9'
gunicorn = '~=23.0'
django-ninja = '~=1.4'
cryptography = '~=44.0'
django-prometheus = '~=2.3'

[dev-packages]
Black = '~=22.3'
isort = '~=5.10'
flake8 = '~=7.1'
importlib-metadata = '<5.0'
pytest = '~=8.3'
pytest-django = '~=4.10'
pytest-mock = '~=3.14'

[requires]
python_version = '3.13'

[pipenv]
allow_prereleases = true
