- name: Ensure docker-compose plugin is installed
  apt:
    name: docker-compose-plugin
    state: present
    update_cache: yes

- name: Create application directory
  file:
    path: /opt/to4ka
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Create .env on server
  ansible.builtin.template:
    src: env.j2
    dest: /opt/to4ka/.env
    mode: '0600'

- name: Login to GHCR
  community.docker.docker_login:
    registry_url: ghcr.io
    username: "{{ lookup('env', 'GHCR_USERNAME') }}"
    password: "{{ lookup('env', 'GITHUB_TOKEN') }}"

- name: Pull all images
  community.docker.docker_compose_v2:
    project_src: /opt/to4ka
    pull: always

- name: Bring up full docker-compose stack
  community.docker.docker_compose_v2:
    project_src: /opt/to4ka
    state: present
    restarted: true
