- name: Create .env on server
  template:
    src: env.j2
    dest: /opt/to4ka/.env
    mode: '0600'

- name: Login to GHCR
  docker_login:
    registry_url: ghcr.io
    username: "{{ lookup('env', 'GHCR_USERNAME') }}"
    password: "{{ lookup('env', 'GITHUB_TOKEN') }}"

- name: Pull all images
  community.docker.docker_compose:
    project_src: /opt/to4ka
    pull: yes
  become: true

- name: Bring up full docker-compose stack
  community.docker.docker_compose:
    project_src: /opt/to4ka
    state: present
    restarted: yes
  become: true
